.NavbarItems {
  width: var(--main-content-width);
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

.NavbarItemsLeft {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: inherit;
}

.NavbarItemsRight {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: inherit;
}

@media screen and (max-width: 500px) {
  .NavbarItems {
    flex-direction: column;
    width: 100%;
  }

  .NavbarItem {
    width: 100%;
  }

  .NavbarItemsLeft {
    height: var(--navbar-height);
    width: 100%;
    padding: 0 5%;
  }

  .NavbarItemsRight {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    transform: scale(1, 0);
    transition: transform 350ms ease-in-out;
    transform-origin: top;
  }

  .NavbarItemsRightActive {
    transform: scale(1, 1);
  }

  .NavbarItemsRight .NavbarItem {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .NavbarItemsRightActive .NavbarItem {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200;
  }
}
