.Landing {
  display: flex;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  /* min-height: 100vh; */
}

.Landing .MainDiv {
  height: 80%;
  width: 100%;
  display: flex;
}

.ProfilePicDiv {
  flex-basis: 50%;
  margin-left: 5%;
  order: 1;
}

.ProfilePicDiv img {
  max-width: 100%;
  max-height: 100%;
  min-width: 300px;
  filter: grayscale(1);
}

.IntroDiv {
  flex-basis: 50%;
  margin: 0 2% 0 5%;
  order: 2;
  color: var(--theme-color-font);
}

.IntroDiv h1,
h3 {
  margin: 0;
  line-height: 4rem;
}

.IntroDiv h1:nth-of-type(1) {
  font-size: 3rem;
}

.IntroDiv h1:nth-of-type(1) span {
  display: inline-block;
  height: 3px;
  width: 3px;
  background-color: var(--brand-color);
  border: 5px solid var(--brand-color);
  border-radius: 50%;
  margin-left: 2px;
}

.IntroDiv h1:nth-of-type(2) {
  font-size: 2rem;
}

.IntroDiv h1:nth-of-type(3) {
  line-height: 3.5rem;
  font-size: 3.5rem;
  text-transform: capitalize;
}

.IntroDiv h1:nth-of-type(3) span {
  color: var(--brand-color);
}

.IntroDiv .LandingTechRole {
  font-weight: 400;
}

@media screen and (max-width: 840px) {
  .Landing {
    align-items: flex-start;
    height: 100%;
  }

  .Landing .MainDiv {
    flex-direction: column;
  }

  .ProfilePicDiv {
    margin: 0 auto;
    margin-top: 5%;
    order: 2;
  }

  .ProfilePicDiv img {
    width: 100%;
    min-width: 200px;
  }

  .IntroDiv {
    order: 1;
    margin-top: 5%;
  }
}

@media screen and (max-width: 350px) {
  .IntroDiv h1,
  h3 {
    line-height: 3rem;
  }

  .IntroDiv h1:nth-of-type(1) {
    font-size: 2rem;
  }

  .IntroDiv h1:nth-of-type(2) {
    font-size: 1rem;
  }

  .IntroDiv h1:nth-of-type(3) {
    font-size: 2.5rem;
  }

  .IntroDiv h3 {
    font-size: 1rem;
  }
}
