.About {
  /* all section dimensions can be put in App ? */
  min-height: 100vh;
  width: 100%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content minmax(300px, auto);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.Info {
  grid-column: 1 / -1;
  justify-self: center;
}

.Heading {
  grid-column: 1 / -1;
  padding-top: 5%;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.5rem;
}

.Skills {
  grid-column: 1 / -1;
  padding-top: 56px;
  margin-top: -56px;
  /* justify-self: center; */
}

.Info,
.Heading {
  color: var(--primary-font-color);
}

.Info {
  text-align: left;
}

.Info a {
  text-decoration: none;
  color: var(--brand-color);
}

.Info span {
  font-size: 1.2em;
}

.Info span#name {
  font-size: 1.5em;
  font-weight: 500;
}

.About .Heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 3rem;
  padding: 20px 0;
  color: var(--main-heading-color);
  margin: 0;
}

@media (max-width: 900px) {
  .About {
    grid-template-columns: repeat(2, 1fr);
  }
}
