.Project {
  margin-bottom: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}

.ProjectHeading {
  font-size: 1.5rem;
}

.ProjectInfo {
  flex-basis: 50%;
  flex-grow: 1;
  order: 1;
  box-sizing: border-box;
  padding: 20px;
  color: var(--secondary-font-color);
  background-color: var(--projects-bg-color);
}

.ProjectSnapshot {
  order: 2;
  flex-basis: 50%;
  flex-grow: 1;
  position: relative;
}

.ProjectSnapshot::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.ProjectSnapshot img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.ProjectSnapshot:hover img {
  filter: contrast(1);
}



@media (min-width: 950px) {
  .Project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    max-width: 1200px;
    margin-bottom: 0;
    border-radius: 0;
  }

  .Project:nth-of-type(2n) .ProjectInfo {
    order: 2;
  }
  .Project:nth-of-type(2n) .ProjectSnapshot {
    order: 1;
  }

  .ProjectInfo {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--projects-bg-color);
  }

  .ProjectSnapshot {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .ProjectSnapshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
